html, body{
    height: 100%;
    margin: 0;
}

body{
    background-color: #F8F1F1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

main{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

h1, h2, p, input, button{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 15px;
    color: #8E806A;
}

h1{
    font-size: 40px;
    color: #025464;
    margin-bottom: 0;
}

p{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.margin_bottom_0{
    margin-bottom: 0;
}

input{
    border-color: #fff;
    border: 3px solid #025464;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 20px;
}

a{
    color: #025464;
    text-decoration: none;
}

img{
    margin: 20px 50px;
}

.calculation_block{
    margin-left: 80px;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,0.7917542016806722) 0%, rgba(176,217,229,0.7329306722689075) 100%);
    padding: 20px;
    border-radius: 20px;
    margin-right: 100px;
}

.picture_container{
    margin-left: 100px;
    margin-right: 80px;
}

#main_picture{
    width: 500px;
}

.margin_top_0_bottom_50px{
    margin-top: 0;
    margin-bottom: 50px;
}

.margin_30px{
    margin-bottom: 30px;
}

button{
    background-color: #025464;
    color: #F8F1F1;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    color: #025464;
    font-size: 12px;
    margin-bottom: 3px;
}

#holidayPaymentIndicate{
    font-size: 36px;
    color: #025464;
}

#curly_arrow_yellow{
    margin: 0;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    transform: rotate(-20deg);
}

.arrow_container{
    display: grid;
    grid-template-columns: 200px 200px;
}

.green_color{
    color: #025464;
}

#circle_arrow_pink{
    width: 150px;
    position: absolute;
    margin: 0;
    top: 115px;
    left: 90px;
    transform: rotate(-5deg);
}

.position-relative{
    position: relative;
}

.pointer:hover{
    cursor: pointer;
}

@media all and (max-width: 1920px){
    .calculation_block{
        margin-right: 10px;
    }
    
    .picture_container{
        margin-left: 10px;
    }
}

@media all and (max-width: 1110px){
    #main_picture{
        width: 300px;
    }

    .picture_container{
        display: flex;
        align-items: center;
    }
}

@media all and (max-width: 950px){
    h1{
        font-size: 30px;
    }
}

@media all and (max-width: 900px){
    main{
        flex-direction: column;
        align-items: center;
    }

    #main_picture{
        width: 500px;
    }

    .picture_container, .calculation_block{
        margin: auto;
    }
}

@media all and (max-width: 740px){
    .calculation_block{
        width: 80%;
    }

    h1, h2{
        text-align: center;
        margin: 20px;
    }
}

@media all and (max-width: 510px){
    #main_picture{
        width: 80%;
    }

    .arrow_container{
        display: grid;
        grid-template-columns: 180px 180px;
    }
}

@media all and (max-width: 425px){
    .arrow_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #curly_arrow_yellow{
        display: none;
    }
}

@media all and (max-width: 380px){
    input{
        padding: 16px 26px;
        font-size: 16px;
        width: 80%;
    }

    p{
        font-size: 18px;
    }

    h1{
        font-size: 26px;
    }

    header{
        margin-bottom: 20px;
    }

    #circle_arrow_pink{
        top: 90px;
        left: 80px;
    }
}

@media all and (max-width: 310px){
    #circle_arrow_pink{
        display: none;
    }
}